- if @playlist.errors.any?
  .alert.alert-danger.py-2.px-3.mb-3
    .fw-semibold.mb-1= "#{pluralize(@playlist.errors.count, 'error')} prevented saving this playlist:"
    %ul.mb-0.ps-3
      - @playlist.errors.full_messages.each do |message|
        %li= message
