source_env_if_exists .envrc.local

kstg() {
  if [ ! -f ./.envrc.staging ]; then
    echo "Missing .envrc.staging file"
    return 1
  fi

  (
    set -a
    source ./.envrc.staging
    set +a
    bundle exec kamal "$@" -d staging
  )
}
