DB_HOST=127.0.0.1
DB_USER=sharenite
DB_PASSWORD=sharenite
DB_NAME=sharenite_development
REDIS_URL=redis://127.0.0.1:6379/0
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9094
KARAFKA_UI_SECRET=
KARAFKA_PRO_LICENSE_ID=
BUNDLE_GEMS__KARAFKA__IO=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
