= turbo_frame_tag :playlist_item_errors do
  - if @playlist_item.errors.any?
    .alert.alert-danger.py-2.px-3.mb-3
      .fw-semibold.mb-1 #{pluralize(@playlist_item.errors.count, "error")} prevented saving this playlist item:
      %ul.mb-0.ps-3
        - @playlist_item.errors.each do |error|
          %li= error.message
