- if @profile.errors.any?
  #error_explanation.alert.alert-danger.py-2
    %h2.h6.mb-2= "#{pluralize(@profile.errors.count, 'error')} prohibited this profile from being saved:"
    %ul.mb-0
      - @profile.errors.full_messages.each do |message|
        %li= message
