#games
  %p Total games listed: #{@games.count}
  %ul.list-group.list-group-flush
    - games.each do |game|
      = render game
  -# %br
  -# = link_to game do
  -# = highlight(game.name, params.dig(:name_search))
