%li.list-group-item{id: "#{dom_id game}"}
  .row
    .col-6
      %strong
        = highlight(game.name, params.dig(:query))
    .col-4
      = game.last_activity
    .col-2
      = link_to "Show this game", game, data: { 'turbo-frame': "_top" }
