= form_with url: search_games_path, data: { controller: 'debounce', debounce_target: 'form' }, method: :post do |form|
  = form.label :name_search, "Search:"
  = form.search_field :name_search, value: params[:name_search], data: { action: "input->debounce#search" }
