- unless @sync_job.nil?
  .alert.alert-primary
    There's a synchronisation in progress, status: #{@sync_job.status}.
.row
  .col-6
    %h1 Games
  .col-6.d-flex.align-items-center.justify-content-end
    = render "search_form"
= render 'games', games: @games
