- if @game.errors.any?
  .alert.alert-danger.mb-3
    %h2.h6.mb-2 #{pluralize(@game.errors.count, "error")} prevented this game from being saved:
    %ul.mb-0
      - @game.errors.full_messages.each do |message|
        %li= message
